<div class="logo">
    <h1>
        <a href="/" class="brand">
            <i class="icon-book"></i>
            WebIDE
        </a>
    </h1>
</div>
<div id="menu"></div>
<div class="separator"></div>