<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Confirm</h3>
</div>
<div class="modal-body">
    <p>{{ message }}</p>
</div>
<div class="modal-footer">
    <a class="btn" id="cancel">Cancel</a>
    <a class="btn btn-primary" id="submit">Delete</a>
</div>