<form class="modal-form form">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Confirm</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete that project?</p>
        <p><em>Please note this is permanent</em></p>
    </div>
    <div class="modal-footer">
        <input id="cid" type="hidden" />
        <a class="btn" id="cancel">Cancel</a>
        <a class="btn btn-primary" id="submit">Delete</a>
    </div>
</form>