<div class="modal-header tabbed-header">
    <a class="close" data-dismiss="modal">×</a>
    <ul id="settingsTab" class="nav nav-tabs">
        <li class="active"><a data-target="#js_files" data-toggle="tab">Javascript Files</a></li>
        <li><a data-target="#css_files" data-toggle="tab">CSS Files</a></li>
        <li><a data-target="#settings" data-toggle="tab">Settings</a></li>
    </ul>
</div>
<div class="modal-body">
    <div class="tab-content">
        <div class="tab-pane active files" id="js_files">
        </div>
        <div class="tab-pane files" id="css_files">
        </div>
        <div class="tab-pane" id="settings">
            Settings
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" id="submit">Ok</a>
</div>