<form class="modal-form form">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Import File</h3>
    </div>
    <div class="modal-body">
        <div class="form">
            <div class="control-group">
                <label for="fileurl">File URL</label>
                <input type="url" id="fileurl" name="fileurl" required="true">
                <p class="help-block">Please do not include a protocol (http, https)</p>
            </div>
            <div class="control-group">
                <label for="filetype">File Type</label>
                <select id="filetype" name="filetype" required="true">
                    <option value="html">HTML</option>
                    <option value="css" >CSS</option>
                    <option value="javascript">JavaScript</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" id="cancel">Cancel</a>
        <button class="btn btn-primary" id="submit">Create</button>
    </div>
</form>