<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Rename File</h3>
</div>
<div class="modal-body">
    <div class="form">
        <div class="control-group">
            <label for="filename">File Name</label>
            <input type="input" id="filename">
        </div>
    </div>
</div>
<div class="modal-footer">
    <input id="cid" type="hidden" />
    <a href="#" class="btn" id="cancel">Cancel</a>
    <a href="#" class="btn btn-primary" id="submit">Rename</a>
</div>