{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
<p><a href="{{ path('homepage') }}" class="btn">Back</a></p>
{% endblock fos_user_content %}
