<div id="main">
    <div id="header" class="clearfix"></div>
    <div id="sidebar" class="clearfix active"></div>
    <div id="workspace" class="clearfix"></div>
    <div id="footer" class="clearfix"></div>
</div>
<div id="modals"></div>