{% extends "WebIDESiteBundle::layout.html.twig" %}

{% block content %}
<div id="container"></div>
{% endblock %}

{% block javascripts %}
<script data-main="{{ asset('js/app/main') }}" src="{{ asset('/js/vendors/require.js') }}"></script>
{% endblock %}