<div class="inner">
    <div class="file_tabs clearfix">
    </div>
    <div class="frame">
        <textarea></textarea>
    </div>
    <div class="panel_info">
        <i class="icon-fullscreen hide exit_fullscreen"></i>
        <i class="icon-fullscreen fullscreen"></i>
        <span>{{name}}</span>
    </div>
</div>