<div style="overflow: hidden">
<div class="column left" id="column_left">

</div>
<div class="handle handle_vertical" id="handle_vertical"></div>
<div class="column right" id="column_right"></div>
</div>