<div class="inner">
    <iframe class="preview" src="http://pad/frame.html"></iframe>
    <div class="panel_info">
        <i class="icon-fullscreen hide exit_fullscreen"></i>
        <i class="icon-fullscreen fullscreen"></i>
        <span>Preview</span>
    </div>
</div>