<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>WebIDE</title>

    <!-- Application styles -->
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}" />

    <script type='text/javascript'>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function() {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') +
                    '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();
    </script>

    <script type='text/javascript'>
        googletag.cmd.push(function() {
            googletag.defineSlot('/9522803/WebIDE_Editor_Sidebar_250x250', [250, 250], 'div-gpt-ad-1341605748462-0').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>
</head>

<body>
{% block content %}{% endblock %}
<script type="text/javascript">
    window.globals = {
        env:"{{ app.environment }}",
        debug: {{ app.debug ? 'true' : 'false' }},
        baseUrl: "{{ app.request.baseUrl }}"
    };
</script>
{% block javascripts %}{% endblock %}
</body>
</html>