<div class="header">
    <span class="title">Files</span>
</div>
<div class="content">
    <ul class="filetree">
        <li class="directory expanded">
            <a >HTML</a>
            <ul class="filetree" data-type="html">
            </ul>
        </li>
        <li class="directory expanded">
            <a >CSS</a>
            <ul class="filetree" data-type="css">
            </ul>
        </li>
        <li class="directory collapsed">
            <a >JS</a>
            <ul class="filetree" data-type="javascript">
            </ul>
        </li>
    </ul>
</div>