<div id="sidebar_container">
</div>
<div id="sidebar_ad">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-1918120335602250";
    /* WebIDE Sidebar Ad */
    google_ad_slot = "4666001495";
    google_ad_width = 250;
    google_ad_height = 250;
    //-->
    </script>
    <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>
<div class="separator"></div>