<li class="directory expanded" id="html_tree" data-type="html">
    <a data-type="html">HTML</a>
    <ul class="filetree">
    </ul>
</li>
<li class="directory expanded" id="css_tree" data-type="css">
    <a data-type="css">CSS</a>
    <ul class="filetree">
    </ul>
</li>
<li class="directory expanded" id="javascript_tree" data-type="javascript">
    <a data-type="javascript">JS</a>
    <ul class="filetree">
    </ul>
</li>